@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body{
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  transition: background-color 0.5s ease-in-out; /* Smooth transition for background-color */
}

.header-scrolled {
  /* background-image: url('/f9130e0aa3.jpg') !important;
  background-size: cover;
  background-position: left bottom ;
  background-repeat: no-repeat;  */
  background-color: #174EA4 !important;
}

.header {
  background-color: transparent; /* Default background color */
}
.heroS{
  background-image: url('/Blue Professional Doctor YouTube Thumbnail (2).png');
  background-size: cover;
  background-repeat: no-repeat;
}
.services_media{
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);


}

@media screen and (min-width: 750px){
  .about_points {
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  
  }
  .review_wrapper,
  .trust-badges-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
  }
  .social_media{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .mapiframe{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  
  }
}
@media screen and (max-width: 749px){
  .review_wrapper,
  .trust-badges-container{
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
  }
  .social_media{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
  }
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #174EA4;
    padding: 70px 5vw 0px 5vw;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 900;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #05A3F3;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li{
  color: white;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
  color: white;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{

	height: 50px;
	width: 50px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.footer-col h4{
	font-size: 24px;
  font-weight: 900;
}
.footer{
	background-color: #174EA4;
    padding: 40px 5vw 20px 5vw;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.social-links a{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.social-links {
  display: flex;

}
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
 
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}
.btn-5,
.btn-5::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5 {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
 border-radius: 5px;
  position: relative;
}

.btn-5::before,
.btn-5::after {
  background: #05A3F3;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-5:hover {
  color: white;
}
.btn-6 {
  overflow: hidden;
}

.btn-6::after {
 
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-6:hover:after {
  height: 100%;
  width: 135%;
}
.btn-6,
.btn-6::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-6 {
  background: white;
  border: 2px solid #fff;
  border-radius: 5px;
  color: black;
  display: block;
 border-radius: 5px;
  position: relative;
}

.btn-6::before,
.btn-6::after {
  background: #174EA4;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-6:hover {
  color: white;
}

.social-links a:hover{
   background-color: #05A3F3 !important;
   border: 0px solid white !important;
}
.social-links a:hover svg{
  fill: white;
}
.product-cards,
.trust-badge,
.review_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.social-links a:hover ~ svg,
.social-links a:hover ~ svg path{
  fill: white !important;
}
.bestseller {

  animation: bestseller-glow 1.5s infinite alternate;
}

/* Hover state to pause animation */
.bestseller:hover {
  animation-play-state: paused;
}

@keyframes bestseller-glow {
  0% {
    transform: scale(1);
    background-position: 0% 50%;
    opacity: 0.9;
  }
  50% {
    transform: scale(1.05);
    background-position: 100% 50%;
    opacity: 1;
    box-shadow: 0 3px 12px rgba(255,0,0,0.4);
  }
  100% {
    transform: scale(1);
    background-position: 0% 50%;
    opacity: 0.9;
  }
}